<div class="container">

  <h2>Filtro pasirinkimas</h2>
  <mat-radio-group
    class="radio-group"
    [(ngModel)]="chosenFilter">
    <mat-radio-button class="radio-button" *ngFor="let filter of filters" [value]="filter">
      {{filter}}
    </mat-radio-button>
  </mat-radio-group>
  <div>Pasirinktas filtras: {{chosenFilter}}</div>

  <h2>Keisti dydį</h2>
  <mat-form-field>
    <input #xAxis matInput placeholder="X ašis" type="number">
  </mat-form-field>
  <mat-form-field>
    <input #yAxis matInput placeholder="Y ašis" type="number">
  </mat-form-field>
  <button (click)="mainValues=generateFormGroup({columns: xAxis.value, rows: yAxis.value})">Keisti</button>

  <h2>Reikšmės</h2>
  <table class="mat-elevation-z8" [formGroup]="mainValues">
    <tr *ngFor="let row of mainValues.get('values')['controls']">
      <td *ngFor="let column of row.controls">
        <input class="square" [formControl]="column" type="number">
      </td>
    </tr>
  </table>

  <h2 *ngIf="['dilation','erosion'].includes(chosenFilter)">Struktūrinis elementas</h2>
  <table class="mat-elevation-z8" [formGroup]="structuralElement" *ngIf="['dilation','erosion'].includes(chosenFilter)">
    <tr *ngFor="let row of structuralElement.get('values')['controls']">
      <td *ngFor="let column of row.controls">
        <input class="square" [formControl]="column" type="number">
      </td>
    </tr>
  </table>

  <button mat-button (click)="calculateResult()">Skaičiuoti</button>


  <h2>Rezultatas:</h2>
  <table *ngIf="results">
    <tr *ngFor="let row of results">
      <td *ngFor="let column of row" class="square" align="center">
        {{column}}
      </td>
    </tr>
  </table>
</div>
